@import '_variables';

.form-container {
  margin-top: 25px;
  width: 100%;
  text-shadow: 0 1px 1px rgba(255,255,255,.5);
  text-align: center;

  button {
    @include transition(background, .2s);
    background: $color-10;
    border-radius: 3px;
    border: 2px solid $color-10;
    padding: 10px 20px;
    color: white;
    font-size: 22px;
    outline: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    margin: 0 5px;

    &:hover,
    &:focus,
    &:active {
      cursor: pointer;
      background: darken($color-10, 5%);
    }

    &:active {
      @include transition(background, 0s);
      background: darken($color-10, 10%);
      box-shadow: none;
    }
  }
}
