@import '_variables';

.grid .tick {
  stroke: $color-9;
  opacity: 0.7;
}

.grid path {
  stroke-width: 0;
}

.page-title {
  font: 400 40px/1.5 Open Sans, sans-serif;
  text-align: center;
}

// --- Base styles
// ---------------------------------------------------

// allow padding and border to be calc with width
// and reset margin/padding
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  //@include gradient($color-1, $color-2);
  //background-repeat: no-repeat;
  //-webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: $body-font;
  //font-weight: 300;
  //color: $color-9;
}

.content, [role="main"] {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

// --- end base styles -------------------------------

// -// --- Ishtar styles
// ---------------------------------------------------
#entity-chart {
  position: relative;
  margin: 10% 0;
  padding: 0 50px 30px 30px;
  border-radius: 4px;
  box-shadow: 0 40px 50px rgba(0,0,0,.3), inset 0 -5px 5px rgba(0,0,0,.3);
  border-top: 2px solid $color-7;
  width: $totalWidth;
  height: 500px;
  @include clearfix;
  //@include gradient-horizontal-three-colors();

  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    display: block;
    left: 0px;
    top: 10px;
    margin: 30px;
    height: 280px;
    width: $totalWidth - 60px;
    //@include gradient-horizontal-three-colors($start-color: $color-6, $mid-color: $color-11, $color-stop: 50%, $end-color: $color-6);
  }
  &:after {
    content: '';
    position: absolute;
    z-index: 1;
    display: block;
    left: 20px;
    top: 10px;
    margin: 30px;
    height: 1px;
    width: $totalWidth - 100px;
    //background: $color-7;
  }

  line.intermediate-lines, line.lower-line {
    stroke: $color-7;
  }

  line.lower-line {
    stroke-width: 4;
  }

  line.upper-line {
    stroke: green;
    stroke-width: 2;
  }

  line.line-to-future {
    @include dash-line(grey, 4);
  }

  line.primary-line {
    stroke: $color-8;
    stroke-width: 4;
    fill: none;
  }

  line.vertical-line {
    @include dash-line(grey, 1);
  }

  circle.dynamic {
    fill: white;
    stroke: $color-7;
    stroke-width: 3px;
    &:hover, &.active {
      stroke-width: 6px;
      cursor: pointer;
    }

    &:hover {
      stroke: $color-4;
    }
  }
}

svg {
  position: relative;
  z-index: 2;
}

/*
#entity-chart path[class*="average"],
#entity-chart path[class*="top"],
#entity-chart path[class*="bottom"] {
  stroke: $color-7;
}
*/

/*
.tipsy {
  font-family: $body-font;
  text-align: center;
  color: black;
  padding: 5px 8px 4px 8px;
  border-style: solid;
  border-width: 2px;
  background-color: initial;
}
*/

.tipsy {
  font-family: $body-font;
  color: #000;
  text-align: center;
  position: absolute;
  padding: 5px;
  margin-top: -8px;
  margin-left: 6.5px;
  z-index: 10;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 1);;
  background-color: initial;
  &:after {
    bottom: 0;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
  }
}

/*
.tipsy-inner {
  //@include gradient($color-3, $color-4);
  color: #000;
  max-width: 200px;
  padding: 5px 8px 4px 8px;
  text-align: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 1);;
  border-radius: 3px;
}

.tipsy-arrow {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  border: 5px dashed black;
}

.tipsy-arrow-s {
  border-top-color: black;
}

.tipsy-s .tipsy-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
*/

@import '_form';
