//- Created by steve on 7/11/16.
doctype html
html(lang="en")
    head
        meta(charset="UTF-8").
        title #{pageTitle}
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/app.css")
    body
        h1.page-title #{pageTitle}
        section
            div.container
                div#entity-chart.row
                    div#chart-index.col-md-6
                    div#chart-challenge.col-md-6
                div.popup
        section
            div.container
                div.row
                    div.form-container
                        //- button#redraw-0(value="random", title="Redraw left chart") Left
                        //- button#redraw-1(value="random", title="Redraw right chart") Right
                        button#redraw(value="random", title="Redraw the both charts") Redraw
                div.row.description
                    h3 Features
                    p This demo page shows how we can build d3 graphs in two modes: linear and histogram mode.
                        | I tried to collect all the modern instruments to make this page.
                        | There I use Node.js, Express, jQuery, D3.js, Pug/Jade, Sass on fly compiler
        //- script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js").
        script(type="text/javascript", src="lib/jquery.min.js").
        //- script(type="text/javascript", src="http://d3js.org/d3.v3.min.js").
        script(type="text/javascript", src="lib/d3.min.js").
        //- script(type="text/javascript", src="//cdn.jsdelivr.net/tipsy/1.0/javascripts/jquery.tipsy.js").
        script(type="text/javascript", src="js/app.js").
        //- script(type="text/javascript", src="js/popup.js").
