// Made by Steve at 28-June-2016
my pageTitile = 'D3
doctype html
html(lang="en")
    head
        meta(charset='UTF-8').
        title= pageTitle
        script(type='text/javascript', ).
    body
        #entity-chart
            .form-container
                form#benchmarks
                    fieldset(name="benchmarks", class="benchmarks")
                        .checkbox-wrap
                            label(href="#", for="league-average", class="benchmarks-label") Second Benchmark
                                input(type="checkbox", name="benchmarks", id="league-average", class="benchmarks-checkbox")
                                span
                                span

                    button(type="submit", value="random") Random