- // Made by Steve at 28-June-2016
- var pageTitle = "D3 demo chart"
doctype html
html(lang="en")
    head
        meta(charset="UTF-8").
        title= pageTitle
        link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Istok+Web", type="text/css")
        //- link(rel="stylesheet", href="/css/jquery.tipsy.css")
        link(rel="stylesheet", href="/css/app.css")
    body
        main(role="main")
            #entity-chart
                .form-container
                    form#benchmarks
                        button(type="submit", value="random") Random
        script(type="text/javascript", src="lib/vendor.js").
        script(type="text/javascript", src="//cdn.jsdelivr.net/tipsy/1.0/javascripts/jquery.tipsy.js").
        //- script(type="text/javascript", src="lib/jquery.tipsy.js").
        script(type="text/javascript", src="js/app.js").
