//- Created by steve on 7/11/16.
doctype html
html(lang="en")
    head
        meta(charset="UTF-8").
        title #{pageTitle}
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/app.css")
    body
        h1.page-title #{pageTitle}
        section
            div.container
                div#entity-chart.row
                    div.container-fluid.header Index - overall
                    div.col-md-6
                        div#chart-index
                        div#chart-index-data.row
                            div.col-md-3.overall
                                h5 Start
                                span.red-text 26
                                p.col-suffix.red-text Premature aging
                            div.col-md-3.overall
                                h5 Challenge 1
                                span.red-text 26
                                p.col-suffix.red-text Premature aging
                            div.col-md-3.overall
                                h5 Change
                                span 11
                                p.col-suffix (+39.2%)
                            div.col-md-3.overall
                                h5 To go
                                span 26
                                p.col-suffix (+60.8%)
                    div.col-md-6
                        div.week-challenge-header Challenge 1
                            span.header-arrow-left &lt;
                            span.header-arrow-right &gt;
                        div#week-challenge-days.container-fluid
                            div.row.equal
                                div.col-md-2
                                    div 26
                                    div Start
                                div.col-md-2.red-text
                                    div 27
                                    div Challenge 1
                                div.col-md-2
                                    div Challenge 2
                                div.col-md-2 4
                                div.col-md-2 5
                                div.col-md-2 6
                                div.col-md-2 7
                        div.monthly-trend-header Monthly trend
                            span.header-arrow-left &lt;
                            span.header-arrow-right &gt;
                        div#monthly-trend-graph
                div.popup
        section
            div.container
                div.row
                    div.form-container
                        //- button#redraw-0(value="random", title="Redraw left chart") Left
                        //- button#redraw-1(value="random", title="Redraw right chart") Right
                        button#redraw(value="random", title="Redraw the both charts") Redraw
                div.row.description
                    h3 Features
                    p This demo page shows how we can build d3 graphs in two modes: linear and histogram mode.
                        | I tried to collect all the modern instruments to make this page.
                        | There I use Node.js, Express, jQuery, D3.js, Pug/Jade, Sass on fly compiler
        script(type="text/javascript", src="lib/vendor.min.js").
        script(type="text/javascript", src="js/app.js").
        //- script(type="text/javascript", src="js/popup.js").
